<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <h1>Notas</h1>
    </header>
    <main>
        <section>
            <h2>Titulo</h1>
                <p>Descripcion de la nota</p>
                <div>
                    <h3>⏰</h1>
                        <div style="display: flex; align-items: center;">
                            <label for=" status">Estado</label>
                    <input type="checkbox" name="" id="status">
                </div>
                </div>
        </section>
    </main>
    <footer></footer>

</body>

</html>