<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="dashboard_style.css" />
  <script src="dashboard.js" type="module"></script>
</head>

<body>
  <aside class="sidebar" aria-label="Sidebar" role="complementary">
    <div class="sidebar-top">
      <!-- logo -->
      <!-- menu -->
    </div>
    <div class="sidebar-bottom">
      <!-- settings -->
    </div>
  </aside>
  <main class="main">
    <header class="header">
      <!-- search -->
      <!-- buttons -->
    </header>
    <section class="content">
      <!-- notes -->
    </section>
    <!-- <section id="notes-list"></section> -->
  </main>
  <footer></footer>

</body>

</html>