<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup_style.css">
    <script src="signup.js"></script>
    <title>Document</title>w
</head>

<body>
    <main>


        <form id="signupForm" action="#" method="post">
            <h1>Registro</h1>
            <fieldset>
                <legend class="sr-only">Datos</legend>
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="input" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="input" required>
                </div>
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="input" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="input" required>
                </div>
                <button type="submit">Registrarse</button>
            </fieldset>
        </form>
    </main>
</body>

</html>