main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 4rem;
  border-radius: 2%;
}

form {
  display: flex;
  flex-direction: column;
}

form h1 {
  font-size: 1.2rem;
  text-align: center;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
  gap: 0.5rem;
}

form div label {
  font-size: 0.9rem;
}

.input {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
