<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notas app</title>
    <link rel="stylesheet" href="login_style.css" />
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap"
      rel="stylesheet"
    />
    <script src="../../main.js"></script>
  </head>
  <body>
    <!-- <header></header> -->
    <main>
      <form method="post" action="#" autocomplete="on" novalidate>
        <h1>Iniciar sesión</h1>

        <fieldset>
          <legend class="sr-only">Credenciales</legend>

          <div class="form-group">
            <label for="usuario">Usuario</label>
            <input
              type="text"
              name="usuario"
              id="usuario"
              placeholder="Ingrese su usuario"
              autocomplete="username"
              class="input"
              required
            />
          </div>

          <div class="form-group">
            <label for="password">Contraseña</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Ingrese su contraseña"
              autocomplete="current-password"
              class="input"
              required
            />
          </div>
          <button type="submit">Ingresar</button>
        </fieldset>
      </form>
    </main>
    <!-- <footer></footer> -->
  </body>
</html>
